<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View address</title>
</head>
<body>

<p th:text="'ID: ' + ${address.id}">id</p>
<p th:text="'Name: ' + ${address.name}">name</p>
<p th:text="'City: ' + ${address.city}">city</p>
<p th:text="'Phone: ' + ${address.phone}">phone</p>
<form th:action="@{/app/{id}/edit(id=${address.id})}">
    <button>Edit</button>
</form>
<form th:action="@{/app/{id}/delete(id=${address.id})}" method="post">
    <button>Delete</button>
</form>
<br>
<form th:action="@{/app/list}">
    <button>Back</button>
</form>

</body>
</html>