.btn {
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 20px;
}

.btn-register {
    background-color: #04AA6D;
    border: 1px solid green;
}

.btn-sign-in {
    background-color: #0483aa;
    border: 1px solid dodgerblue;
}