<html xmlns:th="http://www.thymeleaf.org" content="text/html;">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<div class="top">
    <img src="/static/img/login.png">
    <br/>
    <form th:action="@{/login}" th:method="post" th:object="${loginDTO}" accept-charset="utf-8">
        <label>
            Login<br/>
            <input type="text" name="username" th:value="${loginDTO.username}" autocomplete="off">
        </label>
        <br/>
        <label>
            Password<br/>
            <input type="password" name="password" th:value="${loginDTO.password}" autocomplete="off">
        </label>
        <br/><br/>
        <input type="submit" value="Перейти к списку пользователей">
    </form>
</div>
</body>
</html>