<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="user-inputs">
  <h2>
    Добавить Клиента
    <span></span>
  </h2>
  </div>
<div class="login-box">
  <form action="#" th:action="@{/app/add}" th:object="${record}" method="post">
    <table>
      <tr>
        <div class="user-box">
          <td>Дата</td>
        </div>
        <div class="user-box">
          <td>Событие</td>
        </div>
      </tr>
      <tr>
        <td>
          <div class="user-box">
            <input type="date" name="date" required="" placeholder="Дата">
            <label></label>
          </div>
        </td>
        <td>
          <div class="user-box">
            <input type="text" name="message" required="">
            <label></label>
          </div>
        </td>
      </tr>
    </table>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Добавить
    </button>
  </form>
</div>
</body>
</html>