<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form th:method="POST" th:action="@{/addressbook/{id}/edit(id=${record.id})}" th:object="${record}">

    <p style="text-align:center"><strong>Edit Record</strong></p>
    <div th:object="${record}">
        <p style="text-align:center"><strong><input name="firstName" id="firstName" type="text"
                                                    th:value="${record.firstName}"
                                                    value="Name"/></strong></p>
        <p style="text-align:center"><strong><input name="address" id="address" type="text" th:value="${record.address}"
                                                    value="Address"/></strong></p>
        <p style="text-align:center"><strong><input name="phoneNumber" id="phoneNumber" type="text"
                                                    th:value="${record.phoneNumber}" value="Phone"/></strong></p>
        <p style="text-align:center"><strong><input id="Enter" type="submit" value="Update record"/></strong></p>
    </div>

</form>

</body>
</html>