<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p style="text-align:center"><strong>Edit Record</strong></p>

<p style="text-align:center"><strong><input name="Name" type="text" value="Name" /></strong></p>

<p style="text-align:center"><strong><input name="Address" type="text" value="Address" /></strong></p>

<p style="text-align:center"><strong><input name="Phone" type="text" value="Phone" /></strong></p>

<p style="text-align:center"><strong><input name="Enter" type="submit" value="Save changes" /></strong></p>
</body>
</html>