<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goshiq's application</title>
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/position.css">
    <link rel="stylesheet" href="/text.css">
</head>
<body>
<p class="text-center">What do you want?</p>
<div>
    <p/>
    <form action="/toSignIn">
        <button class="obj-center btn btn-sign-in">Hey, let me in!</button>
    </form>
    <p/>
    <form action="/register">
        <button class="obj-center btn btn-register">Can I join you?..</button>
    </form>
</div>
</body>
</html>