<p style="text-align:center"><strong>User List</strong></p>

<p style="text-align:center"> </p>

<p style="text-align:center"> </p>

<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<caption>Все записи</caption>
	<tbody>
		<tr>
			<td style="text-align:center">ID</td>
			<td style="text-align:center">Имя</td>
			<td style="text-align:center">Адрес</td>
			<td style="text-align:center">Телефон</td>
		</tr>
		<tr>
			<td style="text-align:center"> </td>
			<td style="text-align:center"> </td>
			<td style="text-align:center"> </td>
			<td style="text-align:center"> </td>
		</tr>
		<tr>
			<td style="text-align:center"> </td>
			<td style="text-align:center"> </td>
			<td style="text-align:center"> </td>
			<td style="text-align:center"> </td>
		</tr>
	</tbody>
</table>

<p style="text-align:center"> </p>

<p style="text-align:center"> </p>

<p style="text-align:center"> </p>

<p style="text-align:right"> </p>

<p style="text-align:justify"> </p>

<p> </p>
