<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:method="POST" th:action="@{/addressbook/login_form}" xmlns:th="http://www.w3.org/1999/xhtml">
<p style="text-align:center"><strong>AddressBook Login Form</strong></p>

<p style="text-align:center"><strong><input  name="userName" type="text" value="Login" /></strong></p>

<p style="text-align:center"><strong><input  name="password" type="text" value="Password" /></strong></p>

<p style="text-align:center"><strong><input name="Enter" type="submit" value="Enter" /></strong></p>
</form>
</body>
</html>