<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p style="text-align:center"><strong>AddressBook Login Form</strong></p>

<p style="text-align:center"><strong><input name="Login" type="text" value="Login" /></strong></p>

<p style="text-align:center"><strong><input name="Password" type="text" value="Password" /></strong></p>

<p style="text-align:center"><strong><input name="Enter" type="submit" value="Enter" /></strong></p>
</body>
</html>