<!DOCTYPE HTML>
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="POST" >
<p style="text-align:center"><strong>AddressBook Login Form</strong></p>

<p style="text-align:center"><strong><input  name="userName" type="text" value="Input your Login" /></strong></p>

<p style="text-align:center"><strong><input  name="password" type="password" value="Input your Password" /></strong></p>

<p style="text-align:center"><strong><input name="Enter" type="submit" value="Submit" /></strong></p>
</form>
</body>
</html>