<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/buttons.css">
</head>
<body>
<div align="center">
    <h5>REGISTRATION</h5>
    <form method="post" action="/signIn">
        <p>Who are you?</p>
        <input name="userName" placeholder="Your name"/>
        <input name="password" placeholder="Your password"/>
        <p>
            <button class="btn btn-sign-in">Send</button>
        </p>
    </form>
    <form action="/register">
        <button class="btn btn-register">Ooops, can I register?..</button>
    </form>
</div>
</body>
</html>