<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p style="text-align:center"><strong>View Record</strong></p>
<div th:object="${record}">
    <p style="text-align:center"><strong><input name="firstName" id="firstName" type="text"
                                                th:value="${record.firstName}"
                                                value="Name"/></strong></p>
    <p style="text-align:center"><strong><input name="address" id="address" type="text" th:value="${record.address}"
                                                value="Address"/></strong></p>
    <p style="text-align:center"><strong><input name="phoneNumber" id="phoneNumber" type="text"
                                                th:value="${record.phoneNumber}" value="Phone"/></strong></p>
</div>

<form th:method="GET" th:action="@{/addressbook/{id}/edit(id=${record.getId()})}">
    <p style="text-align:center"><strong> <input type="submit" , value="Update record"/></strong></p>
</form>


<form th:method="DELETE" th:action="@{/addressbook/{id}/delete(id=${record.getId()})}">
    <p style="text-align:center"><strong> <input type="submit" , value="Delete record"/></strong></p>
</form>

<a href="/addressbook/list">Назад</a>


</body>
</html>