<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2>Add addrres to address book</h2>
        <form action="#" th:action="@{/app/add}" th:object="${address}" method="post">
            <p>Name: <input type="text" th:field="*{name}" placeholder="Type address here" /></p>
            <p>Phone: <input type="text" th:field="*{phone}" placeholder="Type address here" /></p>
            <p>Address: <input type="text" th:field="*{address}" placeholder="Type address here" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
