<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:action="@{/add}" th:object="${address}" method="post">
<!--            <p>Login: <input type="text" th:field="*{login}" placeholder="Type login here" /></p>-->
            <p>Address: <input type="text" th:field="*{address}" placeholder="Type address here" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
