<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Authentication form</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:action="@{/login}" th:object="${clientForm}" method="post">
            <p>Login: <input type="text" th:field="*{login}" placeholder="Type login here" /></p>
            <p>Password: <input type="text" th:field="*{password}" placeholder="Type password here" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
