<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2>Edit address</h2>
        <form method="post">
            <p>Name: <input type="text" name="name" placeholder="Type name here" /></p>
            <p>Phone: <input type="text" name="phone" placeholder="Type phone here" /></p>
            <p>Address: <input type="text" name="address" placeholder="Type address here" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
